<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <staticContent>
         <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>-->
      </staticContent>
      <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
         <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
         <dynamicTypes>
            <add mimeType="application/javascript" enabled="true"/>
            <add mimeType="application/json" enabled="true"/>
            <add mimeType="application/rss+xml" enabled="true"/>
            <add mimeType="application/vnd.ms-fontobject" enabled="true"/>
            <add mimeType="application/x-font-opentype" enabled="true"/>
            <add mimeType="application/x-font-truetype" enabled="true"/>
            <add mimeType="application/x-font-ttf" enabled="true"/>
            <add mimeType="application/x-javascript" enabled="true"/>
            <add mimeType="application/xhtml+xml" enabled="true"/>
            <add mimeType="application/xml" enabled="true"/>
            <add mimeType="font/eot" enabled="true"/>
            <add mimeType="font/opentype" enabled="true"/>
            <add mimeType="font/otf" enabled="true"/>
            <add mimeType="image/*" enabled="true"/>
            <add mimeType="image/svg+xml" enabled="true"/>
            <add mimeType="message/*" enabled="true"/>
            <add mimeType="text/*" enabled="true"/>
            <add mimeType="*/*" enabled="false"/>
         </dynamicTypes>
         <staticTypes>
            <add mimeType="application/javascript" enabled="true"/>
            <add mimeType="application/json" enabled="true"/>
            <add mimeType="application/rss+xml" enabled="true"/>
            <add mimeType="application/vnd.ms-fontobject" enabled="true"/>
            <add mimeType="application/x-font-opentype" enabled="true"/>
            <add mimeType="application/x-font-truetype" enabled="true"/>
            <add mimeType="application/x-font-ttf" enabled="true"/>
            <add mimeType="application/x-javascript" enabled="true"/>
            <add mimeType="application/xhtml+xml" enabled="true"/>
            <add mimeType="application/xml" enabled="true"/>
            <add mimeType="font/eot" enabled="true"/>
            <add mimeType="font/opentype" enabled="true"/>
            <add mimeType="font/otf" enabled="true"/>
            <add mimeType="image/*" enabled="true"/>
            <add mimeType="image/svg+xml" enabled="true"/>
            <add mimeType="message/*" enabled="true"/>
            <add mimeType="text/*" enabled="true"/>
            <add mimeType="*/*" enabled="false"/>
         </staticTypes>
      </httpCompression>
      <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
      
      <rewrite>
         <rules>
            <!--<rule name="HTTP to HTTPS redirect">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                  <add input="{HTTP_HOST}" pattern="hertfordshiremobiletoilets\.co\.uk$" />
               </conditions>
               <action type="Redirect" url="https://www.hertfordshiremobiletoilets.co.uk/{R:1}" redirectType="Permanent" />
            </rule>
            <rule name="Redirect To WWW">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAny">
                  <add input="{HTTP_HOST}" pattern="^hertfordshiremobiletoilets\.co\.uk$" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.hertfordshiremobiletoilets.co.uk/{R:1}" />
            </rule>

            <rule name="Remove trailing slash">
               <match url="(.*)/$"/>
               <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
               </conditions>
               <action type="Redirect" url="{R:1}"/>
            </rule>
            <rule name="Lower Case Rule" stopProcessing="true">
               <match url="(.*)" ignoreCase="false"/>
               <conditions>
                  <add input="{URL}" negate="true" pattern="\.axd$"/>
                  <add input="{PATH_INFO}" pattern="[A-Z]" matchType="Pattern" ignoreCase="false" negate="false"/>
               </conditions>
               <action type="Redirect" url="{ToLower:{URL}}" appendQueryString="true"/>
            </rule>-->
         </rules>
      </rewrite> 
       
      <httpErrors>
         <remove statusCode="502" subStatusCode="-1" />
         <remove statusCode="501" subStatusCode="-1" />
         <remove statusCode="500" subStatusCode="-1" />
         <remove statusCode="412" subStatusCode="-1" />
         <remove statusCode="406" subStatusCode="-1" />
         <remove statusCode="405" subStatusCode="-1" />
         <remove statusCode="404" subStatusCode="-1" />
         <remove statusCode="403" subStatusCode="-1" />
         <remove statusCode="401" subStatusCode="-1" />
         <remove statusCode="400" />
         <error statusCode="400" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\bad_request.html" />
         <remove statusCode="407" />
         <error statusCode="407" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\proxy_authentication_required.html" />
         <remove statusCode="414" />
         <error statusCode="414" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\request-uri_too_long.html" />
         <remove statusCode="415" />
         <error statusCode="415" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\unsupported_media_type.html" />
         <remove statusCode="503" />
         <error statusCode="503" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\maintenance.html" />
         <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\unauthorized.html" />
         <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\forbidden.html" />
         <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\not_found.html" />
         <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\method_not_allowed.html" />
         <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\not_acceptable.html" />
         <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\precondition_failed.html" />
         <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\internal_server_error.html" />
         <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\not_implemented.html" />
         <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\minoscreative.co.uk\error_docs\bad_gateway.html" />
      </httpErrors>
   </system.webServer>
</configuration>
